.gallery-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 1128px;
    width: 100%;
    gap: 24px;
    list-style-type: none;
}

.gallery-item {
    cursor: pointer;
}

.gallery-image {
    display: block;
    width: 360px;
    height: 200px;
    cursor: pointer;
}

.img-popup {
    display: block;
    width: 1112px;
    height: 640px;

}

.sl-wrapper {
    background-color: #2E2F42CC;
    /* Задній фон з прозорістю */
}